<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="{{ page.description }}">
    <meta name="author" content="{{ site.author.name }}">

    <title>{{ page.title }}</title>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css" rel="stylesheet">
    <!-- Make inline code pretty like block code (instead of bright red) -->
    <style>code { color: #333; background-color: #f5f5f5; }</style>
  </head>

  <body style="padding-top: 50px;">

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="http://cleartk.github.io/cleartk/">{{ site.title }}</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
	    {% comment %}loop through the pages once per menu item since group_by only gives us a list (not a hash){% endcomment %}
	    {% assign menu_groups = site.pages | group_by:"menu" %}
	    {% for current_name in site.menu_names %}
	      {% for menu_pages in menu_groups %}
	        {% assign name = menu_pages.name %}
	        {% if name == current_name %}
	          {% assign pages = menu_pages.items | sort:"menu-order" %}
	          {% assign n_pages = pages | size %}
	          {% if n_pages == 1 %}
	            {% assign p = pages | first %}
            <li{% if p.url == page.url %} class="active"{% endif %}><a href="{{ site.baseurl }}{{ p.url }}">{{ p.title }}</a></li>
	          {% else %}
	    <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ name }} <span class="caret"></span></a>
	      <ul class="dropdown-menu" role="menu">
	            {% for p in pages %}
		<li{% if p.url == page.url %} class="active"{% endif %}><a href="{{ site.baseurl }}{{ p.url }}">{{ p.title }}</a></li>
	            {% endfor %}
	      </ul>
	          {% endif %}
	        {% endif %}
	      {% endfor %}
	    {% endfor %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">
{{ content }}
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  </body>
</html>
